[submodule "import/libcoap"]
	path = import/libcoap
	url = git://libcoap.git.sourceforge.net/gitroot/libcoap/libcoap
[submodule "import/copper"]
	path = import/copper
	url = git://github.com/mkovatsc/Copper.git
[submodule "import/coapy"]
	path = import/coapy
	url = git://coapy.git.sourceforge.net/gitroot/coapy/coapy
[submodule "import/californium"]
	path = import/californium
	url = git://github.com/mkovatsc/Californium.git
[submodule "node_modules/nodeshark"]
	path = node_modules/nodeshark
	url = git://github.com/nearinfinity/node-shark.git
[submodule "import/koanlogic"]
	path = import/koanlogic
	url = git://github.com/koanlogic/webthings.git
